{% extends "app/base.html" %}
{% block bar %}
    <h2>作者管理页面</h2>
    <div>
        <h3>添加作者</h3>
    </div>
    <form>
        <p>
            <span>作者 </span><input type="text" name="author_name">
        </p>
        <span>书名 </span>
        <select multiple name="book" id="">
            {% for book in book_list %}
                <option value="{{ book.id }}">{{ book.name }}</option>
            {% endfor %}
        </select>
        </p>
        <p>
            <input type="submit" class="btn btn-primary" value="提交">
        </p>

    </form>

{% endblock %}