<!DOCTYPE html>
<html lang="en">
<body>

{% if request.session.username %}
    <p>
        欢迎{{ request.session.username }} <a href="/note/list/">我的笔记</a> <a href="/user/logout/">退出登录</a>
    </p>

{% elif request.COOKIES.username %}
    <p>
        欢迎{{ request.COOKIES.username  }} <a href="/note/list/">我的笔记</a> <a href="/user/logout/">退出登录</a>
    </p>
{% else %}
    <p>
        <a href="/user/register/">注册</a> <a href="/user/login/">登录</a>
    </p>

{% endif %}


</body>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
</html>